<a href="https://colab.research.google.com/github/Asuskf/Curso-pandas-1.x-en-espa-ol/blob/master/1.-%20Fundamentos%20de%20Pandas/1.1%20Colab/Creando_el_primer_DataFrame_desde_un_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Descargando y consumiendo un csv

In [1]:
# Descargamos el Dataset
! wget http://srea64.github.io/msan622/project/pokemon.csv

--2020-09-13 11:51:30--  http://srea64.github.io/msan622/project/pokemon.csv
Resolving srea64.github.io (srea64.github.io)... 185.199.109.153, 185.199.110.153, 185.199.108.153, ...
Connecting to srea64.github.io (srea64.github.io)|185.199.109.153|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 40547 (40K) [text/csv]
Saving to: ‘pokemon.csv’

pokemon.csv         100%[===================>]  39.60K  --.-KB/s    in 0.02s

2020-09-13 11:51:30 (2.54 MB/s) - ‘pokemon.csv’ saved [40547/40547]

In [2]:
"""
Importamos la librería pandas
"""
import pandas
"""
pd: responde al alias
read_csv: Función de Pandas que permite trabajar con csv
"""
pandas.read_csv('pokemon.csv')

      id           Name           Type  ...  Special Defense  Speed  Generation
0      1      Bulbasaur   Grass Poison  ...               65     45           1
1      2        Ivysaur   Grass Poison  ...               80     60           1
2      3       Venusaur   Grass Poison  ...              100     80           1
3      3  Mega Venusaur   Grass Poison  ...              120     80           1
4      4     Charmander           Fire  ...               50     65           1
..   ...            ...            ...  ...              ...    ...         ...
773  717        Yveltal    Dark Flying  ...               98     99           6
774  718        Zygarde  Dragon Ground  ...               95     95           6
775  719        Diancie     Rock Fairy  ...              150     50           6
776  720          Hoopa  Psychic Ghost  ...              130     70           6
777  721      Volcanion     Fire Water  ...               90     70           6

[778 rows x 11 columns]

In [7]:
"""
Importamos la librería pandas y le colocamos el alias pd para ser llamada 
más adelante
"""
import pandas as pd
"""
pd: responde al alias
read_csv: Función de Pandas que permite trabajar con csv
"""
df_pokemon = pd.read_csv('pokemon.csv')
df_pokemon

      id           Name           Type  ...  Special Defense  Speed  Generation
0      1      Bulbasaur   Grass Poison  ...               65     45           1
1      2        Ivysaur   Grass Poison  ...               80     60           1
2      3       Venusaur   Grass Poison  ...              100     80           1
3      3  Mega Venusaur   Grass Poison  ...              120     80           1
4      4     Charmander           Fire  ...               50     65           1
..   ...            ...            ...  ...              ...    ...         ...
773  717        Yveltal    Dark Flying  ...               98     99           6
774  718        Zygarde  Dragon Ground  ...               95     95           6
775  719        Diancie     Rock Fairy  ...              150     50           6
776  720          Hoopa  Psychic Ghost  ...              130     70           6
777  721      Volcanion     Fire Water  ...               90     70           6

[778 rows x 11 columns]

# Leemos directamente de la URL origen

In [4]:
import pandas as pd
url = "http://srea64.github.io/msan622/project/pokemon.csv"
pd.read_csv(url)

      id           Name           Type  ...  Special Defense  Speed  Generation
0      1      Bulbasaur   Grass Poison  ...               65     45           1
1      2        Ivysaur   Grass Poison  ...               80     60           1
2      3       Venusaur   Grass Poison  ...              100     80           1
3      3  Mega Venusaur   Grass Poison  ...              120     80           1
4      4     Charmander           Fire  ...               50     65           1
..   ...            ...            ...  ...              ...    ...         ...
773  717        Yveltal    Dark Flying  ...               98     99           6
774  718        Zygarde  Dragon Ground  ...               95     95           6
775  719        Diancie     Rock Fairy  ...              150     50           6
776  720          Hoopa  Psychic Ghost  ...              130     70           6
777  721      Volcanion     Fire Water  ...               90     70           6

[778 rows x 11 columns]

# Columna con valores NA

In [8]:
# Saber que columna del dataframe tiene valores NA
df_pokemon.isnull().sum()

id                 0
Name               0
Type               0
Total              0
Health Points      0
Attack             0
Defense            0
Special Attack     0
Special Defense    0
Speed              0
Generation         0
dtype: int64

# Nombre de las columnas

In [12]:
# Saber los nombres de las columnas que conforman mi dataframe 
list(df_pokemon)

['id',
 'Name',
 'Type',
 'Total',
 'Health Points',
 'Attack',
 'Defense',
 'Special Attack',
 'Special Defense',
 'Speed',
 'Generation']

# Consultar datos en base al nombre de la columna

In [13]:
# Extraer información de la columna con su nombre
df_pokemon['id']

0        1
1        2
2        3
3        3
4        4
      ...
773    717
774    718
775    719
776    720
777    721
Name: id, Length: 778, dtype: int64

In [24]:
# En vase al nombre de la columna extraemos el mismo elemento 
df_pokemon['Name'][1]

'Ivysaur'

# Consultar datos en base a la posición de la columna

In [20]:
# Extraer el nombre de la columna por su posición
df_pokemon.columns[1]

'Name'

In [21]:
"""
1.- Extraemos el nombre de la columna por su posición
2.- Usamos ese nombre para extraer la información
"""
df_pokemon[df_pokemon.columns[1]]

0          Bulbasaur
1            Ivysaur
2           Venusaur
3      Mega Venusaur
4         Charmander
           ...
773          Yveltal
774          Zygarde
775          Diancie
776            Hoopa
777        Volcanion
Name: Name, Length: 778, dtype: object

In [22]:
"""
1.- Extraemos el nombre de la columna por su posición
2.- Usamos ese nombre para extraer la información
3.- Tomamos el primer elemento de la información extraída
"""
df_pokemon[df_pokemon.columns[1]][1]

'Ivysaur'

# Extraer información en base a los datos de una fila

In [27]:
# Extraer información en base a la primera columna en este caso 'id'
df_pokemon.loc[0]

id                            1
Name                  Bulbasaur
Type               Grass Poison
Total                       318
Health Points                45
Attack                       49
Defense                      49
Special Attack               65
Special Defense              65
Speed                        45
Generation                    1
Name: 0, dtype: object

In [28]:
# Extraer información en base a la columna seleccionada por el usuario en este caso 'Name'
df_pokemon.loc[df_pokemon['Name'] == 'Bulbasaur']

   id       Name          Type  ...  Special Defense  Speed  Generation
0   1  Bulbasaur  Grass Poison  ...               65     45           1

[1 rows x 11 columns]

In [29]:
# Extraer información en base a la posición de columna en este caso 'Name'
df_pokemon.loc[df_pokemon[df_pokemon.columns[1]] == 'Bulbasaur']

   id       Name          Type  ...  Special Defense  Speed  Generation
0   1  Bulbasaur  Grass Poison  ...               65     45           1

[1 rows x 11 columns]

# Ejemplo de uso para filtrar datos de un dataframe

In [31]:
"""
Otro ejemplo
  Extraemos los pokemons que tengan un ataque mayor o igual a 50 
"""
df_pokemon.loc[df_pokemon['Attack'] >= 50]

      id           Name           Type  ...  Special Defense  Speed  Generation
1      2        Ivysaur   Grass Poison  ...               80     60           1
2      3       Venusaur   Grass Poison  ...              100     80           1
3      3  Mega Venusaur   Grass Poison  ...              120     80           1
4      4     Charmander           Fire  ...               50     65           1
5      5     Charmeleon           Fire  ...               65     80           1
..   ...            ...            ...  ...              ...    ...         ...
773  717        Yveltal    Dark Flying  ...               98     99           6
774  718        Zygarde  Dragon Ground  ...               95     95           6
775  719        Diancie     Rock Fairy  ...              150     50           6
776  720          Hoopa  Psychic Ghost  ...              130     70           6
777  721      Volcanion     Fire Water  ...               90     70           6

[645 rows x 11 columns]